html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0 10vw;
}

header {
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid lightgrey;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 32px;
    margin-left: 24px;
}

.logo img {
    padding: 0;
    height: 100%;
}

nav {
    display: flex;
    list-style: none;
    margin-right: 24px;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 8px;
}

header a {
    display: flex;
    height: 75%;
}

.banner {
    display: flex;
    background-color: lightgrey;
    align-items: center;
}

.banner img {
    width: 60%;
    padding: 32px 24px;
}

.banner button {
    width: 80%;
    height: 48px;
    background-color: darkslategrey;
    border: none;
    cursor: pointer;
}

.banner button a {
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: 1.25em;
}

.middle {
    display: flex;
    justify-content: left;
    margin-bottom: 32px;
}

.middleleft {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 32px 24px 0 24px;
}

.middleleft h2 {
    margin-top: 32px;
    margin-bottom: 0;
}

.middleright {
    width: 40%;
    padding-top: 16px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.middlerightbox {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
}

.middlerightbox img:nth-of-type(1) {
    height: auto;
    width: 35%;
    padding: 16px;
}

.middlerightbox img:nth-of-type(2) {
    width: 100%;
}

.middlerightbox h3,
.middlerightbox p,
.middleright a {
    margin: 8px;
}

.middlerightbox a {
    text-decoration: none;
    color: dodgerblue;
}

.middlerightbox:nth-child(3) {
    background-color: lightgray;
}

#startlearningheader {
    width: 100%;
    text-align: center;
    background-color: lightgrey;
    padding: 32px 0 0 0;
    margin: 0;
}

.startlearning {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightgrey;
    padding: 32px 0;
}

.startlearning div {
    background-color: white;
    width: 300px;
    margin: 8px 8px;
}

.startlearning div img {
    width: 300px;
    height: auto;
}

.startlearning div div {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 16px 32px 24px 16px;
}

.startlearning div div>* {
    margin: 8px 0 8px 0;
}

#thesisheader {
    width: 100%;
    text-align: center;
    padding: 32px 0 0 0;
    margin: 0;
}

.thesis {
    display: flex;
    justify-content: left;
    margin-bottom: 32px;
}

.thesisleft {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 32px 24px 0 24px;
}

.thesisleft h3 {
    margin: 24px 0 8px 0;
}

.thesisleft p {
    margin: 0;
}

.thesisright {
    padding: 32px 0 32px 24px;
}

.thesisbox {
    display: flex;
    align-items: center;
}

.thesisbox img {
    height: auto;
    width: 35%;
    padding: 16px;
}

.thesisbox div {
    width: 65%;
}

.thesisbox:nth-child(1) {
    background-color: lightgrey;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 24px;
    border-top: 1px solid lightgray;
    margin-bottom: 32px;
}

footer div {
    display: flex;
}

footer p {
    margin: 0;
}

footer div p {
    margin-left: 8px;
}

@media (max-width: 730px) {

    body{
        margin: auto;
    }

    header,
    .logo {
        margin: 0;
    }

    header nav,
    header p {
        display: none;
    }

    header {
        justify-content: space-around;
    }

    .banner {
        flex-direction: column;
    }

    .banner img {
        width: 100%;
        padding: 0;
    }

    .banner div {
        padding: 16px;
        display: flex;
        flex-direction: column;
    }

    .banner div h1 {
        font-size: 2.5em;
    }

    .banner div h3 {
        font-size: 2em;
    }

    .banner div button {
        width: 100%;
        background-color: grey;
    }

    .banner div>* {
        margin: 16px 0;
    }

    .middleleft {
        display: none;
    }

    .middle {
        justify-content: center;
    }

    .middleright {
        width: 100%;
        padding-top: 0;
        border: none;
    }

    .middlerightbox {
        flex-direction: column;
        padding: 16px;
        border: none;
    }

    .middlerightbox img:nth-of-type(1) {
        display: none;
    }

    .middlerightbox div {
        padding: 0 16px;
        align-self: start;
    }

    .middlerightbox div h3 {
        font-size: 2em;
    }

    .middlerightbox div p {
        font-size: 1.5em;
    }

    .middlerightbox div a {
        font-size: 1.5em;
    }

    .middlerightbox:nth-of-type(3) {
        background-color: inherit;
    }

    #startlearningheader {
        background-color: white;
        padding: 32px 0;
        border-top: 1px solid lightgrey;
        font-size: 2.5em;
    }

    .startlearning {
        background-color: inherit;
        padding: 0 0 32px;
        border-bottom: 1px solid lightgrey;

    }

    .startlearning div {
        background-color: lightgrey;
        width: 100%;
    }

    .startlearning img,
    p {
        display: none;
    }

    .startlearning div h3 {
        font-size: 2em;
    }

    .startlearning div div {
        margin: 16px;
    }

    h1 {
        font-size: 2.5em;
    }

    .thesisright {
        display: none;
    }

    .thesis {
        justify-content: center;
    }

    .thesisleft {
        width: 100%;
    }

    .thesisleft h3 {
        display: none;
    }

    #footer2 {
        display: block;
    }

    footer {
        display: block;
    }

}

@media (min-width: 730px) {
    .navlogo {
        display: none;
    }

    .middlerightbox img:nth-of-type(2) {
        display: none;
    }

    #footer2 {
        display: none;
    }
}